.score-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    
    font-size: 3em;
    margin-top: 2em;
}

.btn-score {
    margin: 0 0.7em;
    font-size: 1.4rem;
}


.points {
    border: 3px solid black;
    border-radius: 10px;
    padding: 0.2em 0.6em; 
}

@media (min-width: 360px) and (max-width: 768px) {
    .score-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        
        text-align: center;
        font-size: 3em;
        margin-top: 0.6em;
        padding: 0.2em
    }
}