@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: 'Sriracha', cursive;
    background: #FDD59A;
}  

header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5rem;
    color: #B4661B;
  
    width: 90%;
    margin: 0 auto;
    margin-top: 0.3em;
}

.container {
    display: flex;

    width: 70%;
    max-height: 80%;
    margin: 0 auto;
    padding: 2em;

    border-radius: 10px;
}

.btn {
    background-color: #fee6e3;
    padding: 0.8em 1.3em;

    border: 3px solid black;
    border-radius: 10px;

    transition: .2s ease-in-out 0s;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.page-not-found-container {
    flex-direction: column;
    align-items: center;
    gap: 1em;

    font-size: 2.2em;
    margin-top: 2em;
}

@media (min-width: 360px) and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 1em;
    }
}

