@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: 'Sriracha', cursive;
    background: #FDD59A;
}  

header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5rem;
    color: #B4661B;
  
    width: 90%;
    margin: 0 auto;
    margin-top: 0.3em;
}

.container {
    display: flex;

    width: 70%;
    height: 20%;
    max-height: 80%;
    margin: 0 auto;
    padding: 2em;

    /* border: 3px solid black; */
    border-radius: 10px;
}
