.cards-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.cards-container img {
    max-width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 10px;
    border: 2px solid black;
}


.green-highlight {
    box-shadow: 0px 0px 15px rgba(33, 221, 26, 0.795);
}

.red-highlight {
    box-shadow: 0px 0px 15px rgba(221, 26, 26, 0.795);
}
    
.hidden {
    visibility: hidden;
}

.score-bar {
    display: flex;
    justify-content: space-evenly;

    width: 70%;
    margin: 0 auto;
    margin-top: 1.3em;

    font-size: 1.6em;
    border-bottom: 3px solid #000;
}

.score {
    width: 40%;
    text-align: center;
}

.col-3 {
    width: 30%;
    text-align: center;
}

.reset {
    height: 40px;
}

.button-container {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 13em;
}