.welcome-box {
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-size: 1.6rem;
    color: black;

    width: 90%;
    margin-top: 1.5em;
}

.welcome-box-text {
    width: 70%;
    margin: 1em 0 2em 0;
}

.btn-start-game {
    font-size: 1.4rem;
}

@media (min-width: 360px) and (max-width: 768px) {
    .welcome-box {
        flex-direction: column;
        align-items: center;
    
        text-align: center;
        font-size: 1rem;
        color: black;
    
        margin-top: 1.5em;
    }
    
    .welcome-box-text {
        width: 100%;
        margin: 1em 0 2em 0;
    }
}
  